.container {
  margin: 0 auto;
  width: 85%;
  border: #cacaca solid 1px;
}
.row {
  display: flex;
}
.left {
  width: 15%;
}
.right {
  width: 85%;
}
.cat {
  text-align: left;
  border: 1px solid #1b32a5;
  padding: 10px 15px;
}
.cat:hover {
  background-color: #1c2554;
  color: white;
  font-size: 16pt;
  cursor: pointer;
}
.boxes {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}
.product {
  border: 1px solid #cacaca;
  border-radius: 5px;
  padding: 10px;
}
.prodimg {
  width: 100%;
}
.product button {
  color: blue;
  background-color: antiquewhite;
  padding: 5px 10px;
}
.datontai {
  color: orangered;
  font-style: italic;
}
